/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END RESET */

::-webkit-scrollbar { 
    display: none; 
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: #e0e0e0;
    box-sizing: border-box;
}

.top-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #e0e0e0;
    font-size: 18px;
}

.left-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    width: 20%;
    align-items: center;
    color: #8d8d8d;
}

.right-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    width: 12%;
    margin-left: 50%;
    align-items: center;
}

.right-nav a {
    text-decoration: none;
    color: inherit;
}

.right-nav a:hover {
    color: #D75527;
    cursor: pointer;
}

.about {
    width: 100%;
    text-align: left;
    font-size: 70px;
    padding-top: 300px;
    padding-bottom: 100px;
    min-height: 500px;
    height: auto;
    background-size: contain;
}

.about-text {
    width: 60%;
    margin-left: 20%;
    color: #585858;
    margin-bottom: 20%;
}

.work {
    background-color: #23263D;
    height: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    background-size: contain; 
    min-height: 500px;  
}

.work-text {
    width: 60%;
    margin-left: 20%;
    font-size: 80px;
    color: white;
}

.work h1 {
    color: white;
    width: 100%;
    text-align: center;
    font-size: 40px;
    margin-bottom: -50px;
}

.work2 img {
    width: 50%;
    margin-left: 25%;
    margin-bottom: -50px;
}

.button-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

button {
    box-sizing: border-box;
    color: white;
    background-color: transparent;
    border: 4px solid white;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

button:hover {
    border: 4px solid #45485F;
    background-color: #45485F;
    cursor: pointer;
}


.work2 {
    background-color: #e0e0e0;
    height: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    background-size: contain; 
    min-height: 500px; 
    color: #23263D;
}

.work2 h1 {
    color: #23263D;
    width: 100%;
    text-align: center;
    font-size: 40px;
    margin-bottom: -50px;
}

.see-images {
    width: 50%;
    margin-left: 25%;
    margin-top: 50px;
}

.work2 button {
    background-color: transparent;
    border: 4px solid #23263D;
    color: #23263D;
}

.work2 button:hover {
    border: 4px solid transparent;
    color: #e0e0e0;
    background-color: #45485F;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #23263D;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid transparent;
    color: white;
    height: 200px;
    width: 30%; /* Could be more or less, depending on screen size */
  }

  .modal-content h1 {
      font-size: 24px;
      text-align: center;
      margin-bottom: 10px;
      margin-top: 10px;
  }

  .modal-content p {
      line-height: 1.4em;
      font-size: 18px;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    width: 100%;
    text-align: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: -50px;
    margin-bottom: 20px;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

.bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    margin-left: 20%;
    color: #585858;
    font-size: 40px;
    height: auto;
    min-height: 500px;  

}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    color: white;
    height: 200px;
    background-color: #D75527;
    text-align: center;
    bottom: 0;
    left: 0;
    font-family: 'Open Sans', sans-serif;
}

footer p {
    margin-bottom: 5px;
    margin-top: 5px;
}

footer a {
    text-decoration: none;
    color: inherit;
}

.footer-top {
    font-weight: 500;
}

